      <p class="about">Ich bin Endres, Ingenieur der IT-Sicherheit und Hardware / Software-Entwickler.
        Ich studiere derzeit und bastle in meiner Freizeit an diversen Projekten überwiegend im Hackerspace.
        Nebenbei arbeite bei der <a href="https://kasper-oswald.de"><nobr>Kasper &amp; Oswald GmbH</nobr></a>.
        Mein Pseudonym ist e7p.</p>
      <ul class="headlinks">
        <li class="twitter">
          <a href="https://twitter.com/_e7p_"><img src="/img/twitter.png" alt="Twitter" /></a>
        </li>
        <li class="github">
          <a href="https://github.com/endres"><img src="/img/github.png" alt="GitHub" /></a>
        </li>
      </ul>