      <p class="about">Ich bin Endres, Ingenieur der IT-Sicherheit und Hardware / Software-Entwickler.
        Ich studiere derzeit und bastle in meiner Freizeit an diversen Projekten überwiegend im Hackerspace.
        Mein Pseudonym ist e7p.<br />
        Dies ist mein Blog.</p>
      <ul class="headlinks">
        <li class="twitter">
          <a href="https://twitter.com/_e7p_"><img src="/img/twitter.png" alt="Twitter" /></a>
        </li>
        <li class="github">
          <a href="https://github.com/endres"><img src="/img/github.png" alt="GitHub" /></a>
        </li>
        <li class="diaspora">
          <a href="https://sn.tdracer.de/people/a981fdc09feb01322c3108606e6956cd"><img src="/img/diaspora.png" alt="Diaspora" /></a>
        </li>
      </ul>