markdown_ext: .md
title: e7p's Blog
description: Dies ist der Blog von e7p
base_url: /
server_url: http://e7p.localhost/
site_dir: /srv/http/blog/
# Refer to http://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
date_format: %Y-%m-%d
posts_per_page: 10
math_active: False
math_delimiter: $

# Language options
default_lang: de

# Translations
#de: e7p <github@e7p.de>
date_de: %d. %B %Y
month_de: %B %Y
months_de: Januar,Februar,März,April,Mai,Juni,Juli,August,September,Oktober,November,Dezember